html {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: whitesmoke;
    /* background: url(./img/Rain-5s-1084px.png); */
    color: #4d4d4d;
}

.darkmode {
    transition: 0.3s;
    background-color: #000;
}

.weatherContainerDarkmode {
    transition: 0.3s;
    background: linear-gradient(319deg, rgba(255, 189, 119, 0.9) 0%, rgba(240, 244, 164, 0.9) 37%, rgba(172, 252, 217, 0.9) 100%);
}

#container {
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 50px;
}
#searchCity {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(242, 242, 242, 0.6);
    border-radius: 10px;
    border-bottom: 3px solid lightgray ;
    font-size: 20px;
    font-weight: 300;
    transition: .2s ease-out;
}

::placeholder {
    color: lightgray;
}

#searchCity:focus {
    background-color:rgba(242, 242, 242, 0.9);
}

#searchCityBtn {
    cursor: pointer;
    margin-left: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}

#searchCityBtn:hover {
    transition: 0.3s;
    background-color: #f2f2f2;
}

#searchCityBtn:active {
    transform: translateY(2px);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
}

#weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid lightgray;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 400px;
    padding: 10px;
}

.localTimeTitle {
    font-size: 0.9rem;
}

#date {
    font-size: 0.95rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

#city-name {
    margin-top: 20px;
}

#weather-description {
    font-weight: bold;
    font-size: 1.4rem;
}

.icon-image {
    height: 170px;
    width: 170px;
}

#current-temp {
    font-weight: bold;
    font-size: 1.4rem;
}

#hilow-temp {
    margin-top: 10px;
    font-size: 1rem;
}

.feelslike-container {
    margin-top: 3px;
    font-size: 1.1rem;
}

.hide-celcius {
    display: none;
}

.hide-fahrenheit {
    display: none;
}

.fcBtn-container {
    margin-top: 3px;
}

#convertToFBtn, #convertToCBtn {
    cursor: pointer;
    background: #fff;
    border-radius: 5px;
}

#convertToFBtn:hover {
    transition: 0.3s;
    background-color: #f2f2f2;
}

#convertToFBtn:active {
    transform: translateY(2px);
}

#convertToCBtn:hover {
    transition: 0.3s;
    background-color: #f2f2f2;
}

#convertToCBtn:active {
    transform: translateY(2px);
}

.btn-container {
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#darkmodeBtn {
    margin-top: 20px;
    cursor: pointer;
    background: #fff;
    border-radius: 5px;
}

#darkmodeBtn:hover {
    transition: 0.3s;
    background-color: #f2f2f2;
}

#darkmodeBtn:active {
    transform: translateY(2px);
}